@font-face {
  font-family: Avenir;
  src: url('../fonts/Avenir/AvenirLTStd-Black.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url('../fonts/Avenir/AvenirLTStd-Roman.otf');
  font-weight:  normal;
  font-style: normal;
}