.list{
  margin-inline-start: 1.5rem;
}

.list-title{
  font: var(--baseFont);
  margin-block-start: 0;
  margin-block-end: .5rem;
}
.list .list-content{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  list-style: none;
  padding: 0;
}

.list-item a{
  font: var(--baseFontBold);
  transition: .2s;
}