.playerControls{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .25rem;
  flex: 1;
  max-inline-size: 592px;
  justify-content: center;
}

.playerControls-buttons{
  display: flex;
  gap: 2rem;
  justify-content: center;
}